    location = /murmur/ingest {
        proxy_pass http://127.0.0.1:8600/ingest;
        client_max_body_size 8m;
        proxy_set_header X-Real-IP $remote_addr;
    }
    location = /murmur/state {
        proxy_pass http://127.0.0.1:8600/state;
    }
    location = /murmur/healthz {
        proxy_pass http://127.0.0.1:8600/healthz;
    }

    listen [::]:443 ssl ipv6only=on; # managed by Certbot
    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/georgenijo.com/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/georgenijo.com/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
